<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SAGE</title>
    <link rel="stylesheet" href="styles/call.css">

  </head>

  <body>
    <div id="room-selection-container" class="centered">
      <button id="connect-button">CONNECT</button>
    </div>

    <div id="video-chat-container" class="video-position" style="display: none">
      <video id="local-video" autoplay="autoplay" muted="muted"></video>
      <video id="remote-video" autoplay="autoplay"></video>
    </div>
    <div class="bottombar">

      <img src="img/mic.png" alt="">
      <img src="img/vid.png" alt="">
      <img src="img/call.png" alt="" onclick="console.log('Bye');window.history.back();">

    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/assets/client.js"></script>
  </body>
</html>
